<!DOCTYPE html>
<html>
  <head>
    <title>Logicards</title>
    <meta name="apple-mobile-web-app-title" content="Logicards">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body onload="initiate();">
    <div class="focused" id="start-page">
      <div id="start-btns">
        <button class="start-btn" ontouchstart="" ontouchend="newroom()">New Game</button>
        <button class="start-btn" ontouchstart="" ontouchend="joinroom()">Join Game</button>
      </div>
    </div>
    <div class="" id="name-page"><div id="name-div"><input type="text" id="name-inp" placeholder="username" /><button id="name-btn" ontouchstart="nameDown()" ontouchend="nameUp()">OK</button></div></div>
    <div class="" id="join-page"><div id="rcode-div"><input type="text" id="rcode-inp" placeholder="room code" /><button id="rcode-btn" ontouchstart="joinDown()" ontouchend="joinUp()">Join</button></div></div>
    <div class="" id="connect-page"><div class="connect-div connect-div-top"><span style="font-weight: 900;">Room Code:</span><br /><br /><span id="rcode-span"></span><br /><br /><span id="waiting-span">Waiting for players...</span></div><div id="j-players"></div></div>

  </body>
</html>
