<!DOCTYPE html>
<html>
  <head>
    <title>Logicards</title>
    <meta name="apple-mobile-web-app-title" content="Logicards">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- iPhone(first generation or 2G), iPhone 3G, iPhone 3GS -->
    <link rel="apple-touch-icon" sizes="57x57" href="touch-icon-iphone.png">
    <!-- iPad and iPad mini @1x -->
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <!-- iPhone 4, iPhone 4s, iPhone 5, iPhone 5c, iPhone 5s, iPhone 6, iPhone 6s, iPhone 7, iPhone 7s, iPhone8 -->
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <!-- iPad and iPad mini @2x -->
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">
    <!-- iPad Pro -->
    <link rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-pro.png">
    <!-- iPhone X, iPhone 8 Plus, iPhone 7 Plus, iPhone 6s Plus, iPhone 6 Plus -->
    <link rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-6-plus.png">
    <!-- Android Devices High Resolution -->
    <link rel="icon" sizes="192x192" href="icon-hd.png">
    <!-- Android Devices Normal Resolution -->
    <link rel="icon" sizes="128x128" href="icon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body onload="initiate();">
    <div class="focused" id="start-page">
      <div id="start-btns">
        <button class="start-btn" ontouchstart="" ontouchend="focusName()" onclick="focusName()">New Game</button>
        <button class="start-btn" ontouchstart="" ontouchend="joinroom()" onclick="joinroom()">Join Game</button>
      </div>
    </div>
    <div class="" id="name-page">
      <div id="name-div">
        <input type="text" id="name-inp" placeholder="username" />
        <button id="name-btn" ontouchstart="nameDown()" ontouchend="newroom()" onclick="newroom()">OK</button>
      </div>
    </div>
    <div class="" id="join-page">
      <div id="rcode-div">
        <input type="text" id="rcode-inp" placeholder="room code" />
        <button id="rcode-btn" ontouchstart="joinDown()" ontouchend="chooseRoom()" onclick="chooseRoom()">Join</button>
      </div>
    </div>
    <div class="" id="connect-page">
      <div class="connect-div connect-div-top">
        <span style="font-weight: 900;">Room Code:</span>
        <br /><br />
        <span id="rcode-span"></span>
        <br /><br />
        <span id="waiting-span">Waiting for players...</span>
      </div>
      <div id="j-players"></div>
    </div>

  </body>
</html>
