body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #A5A;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Standard */
  transition: background-color 0.5s;
}

#start-page {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: top 0.5s;
}

#connect-page {
  position: fixed;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: top 0.5s;
}

#start-btns {
  position: absolute;
  width: 300px;
  height: 160px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.start-btn {
  position: relative;
  box-sizing: border-box;
  width: 96%;
  height: 42%;
  margin: 2%;
  color: #FFF;
  background-color: #1295D7;
  border: solid 3px #1295D7;
  border-radius: 3px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
  transition: 0.2s;
}

.start-btn:focus {
  outline: none;
}

.start-btn:active {
  background-color: #A5A;
  border-color: #848;
  color: #848;
  font-weight: 900;
  transition: 0.2s;
}

.focused {
  top: 0 !important;
  left: 0 !important;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  width: fit-content;
  height: fit-content;
  transform: translateX(-50%) translateY(-50%);
}

#rcode-inp {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: calc(80%-50px);
  font-family: sans-serif;
  font-size: 20px;
  color: #555;
  background-color: #FFF;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid 5px #CC0;
  border-right: none;
  padding: 15px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#rcode-inp:focus {
  outline: none;
}

#rcode-inp::placeholder {
  color: #AAA;
}

#rcode-btn {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #CC0;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FFF;
  border: solid 5px #CC0;
  border-left: none;
  padding: 15px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-1px);
}

#rcode-btn:focus {
  outline: none;
}
