body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #A5A;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Standard */
  transition: background-color 0.5s;
}

#start-page {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: top 0.5s;
  z-index: 1;
}

#join-page {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: left 0.5s;
  z-index: 1;
}

#name-page {
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: left 0.5s;
  z-index: 1;
}

#connect-page {
  position: fixed;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: top 0.5s;
  z-index: 1;
}

#start-btns {
  position: absolute;
  width: 300px;
  height: 160px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.start-btn {
  position: relative;
  box-sizing: border-box;
  width: 96%;
  height: 42%;
  margin: 2%;
  color: #FFF;
  background-color: #1295D7;
  border: solid 3px #1295D7;
  border-radius: 3px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
  transition: 0.2s;
  cursor: pointer;
}

.start-btn:focus {
  outline: none;
}

.start-btn:active {
  background-color: #A5A;
  border-color: #848;
  color: #848;
  font-weight: 900;
  transition: 0.2s;
}

.focused {
  top: 0 !important;
  left: 0 !important;
  z-index: 2;
}

#rcode-div, #name-div {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: fit-content;
  font-size: 0;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

#rcode-inp, #name-inp {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: sans-serif;
  font-size: 20px;
  color: #555;
  background-color: #FFF;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid 5px #CC0;
  border-right: none;
  margin: 0;
  padding: 15px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: border 0.2s;
}

#rcode-inp:focus, #name-inp:focus {
  outline: none;
}

#rcode-inp::placeholder, #name-inp::placeholder {
  color: #AAA;
}

#rcode-btn, #name-btn {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #CC0;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #FFF;
  border: none;
  margin: 0;
  padding: 20px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  transition: 0.2s;
}

#rcode-btn:focus, #name-btn:focus {
  outline: none;
}

.connect-div {
  text-align: center;
  position: absolute;
  font-family: sans-serif;
  line-height: 20px;
  width: fit-content;
  padding: 20px;
  border-radius: 3px;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  background-color: #AA0;
  color: #FFF;
}
